<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styling.css}"/>
</head>
<body>

<div class="row">
    <div class=card>
        <p>Popular Genre</p>
        <table class="center" th:object="${popularGenre}" id="customerTable" border="1">
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Genre name</th>
                <th>Quantity</th>
            </tr>
            <tr th:each="user :${popularGenre}">
                <td th:text="${user.getFirstName()}"></td>
                <td th:text="${user.getLastName()}"></td>
                <td th:text="${user.getGenreName()}"></td>
                <td th:text="${user.getQuantity()}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>